@import 'variables'
@import 'mixins'
@import 'mediaqueries'

.menu
    margin-top: 2rem
    padding: .5rem
    background: rgba(#000, .5)
    border-top: 0.1rem solid rgba(#565656, .5)
    border-bottom: 0.1rem solid rgba(#565656, .5)
    position: sticky
    z-index: 11
    top: 0
    display: grid
    grid-template-columns: 10% auto
    .foto
        width: 100%
        height: 100%
        display: flex
        align-items: center
        text-align: center
        img
            width: 2.5rem
            border-radius: 50%
            margin-right: 1.25rem
    .contenedor-menu
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: space-around
        padding: 0
        a
            text-align: center
            text-decoration: none
            color: $blanco
            font-size: .9rem
            line-height: 1rem
            text-transform: uppercase
            &:hover
                color: $rojo
    .idiomas
        display: none
        grid-template-columns: repeat(auto-fit, minmax(1.5625rem, 1fr))
        align-items: center
        text-align: center
        img.active
            opacity: .5
        img
            width: 1.5rem
            &:hover
                opacity: .5


.header
    height: 30rem
    width: 100%
    
    .video 
        position: absolute
        opacity: 0.7
        width: 100%
        height: 100%
        display: grid
        justify-content: center
      
    
    .contenedor-header
        display: grid
        align-items: center
        justify-content: flex-start
        align-content: center
        position: relative
        
        .perfil1
            height: 86%
            position: relative
            display: inline-grid
            justify-content: stretch
            align-items: flex-end
            margin-left: 150px
            .Perfil
                height: 120%
                width: 50%
                border-radius: 50%
                box-shadow: 2px 2px 2px white
               

        .nombre
            padding: 30px
            display: grid
            grid-row-end: none
            position: absolute
            font-family: verdana
            font-weight: bold
            color: #5f9ea0
            margin-left: 17%
            .fade-in
                animation: fadeIn 3s
                @keyframes fadeIn
                    0%
                        opacity: 0
                    50%
                        opacity: .5
                    100%
                        opacity: 1
        h1
            font-size: 60px
            grid-auto-columns: max-content
            margin-left: 430px
            position: absolute
            display: grid
            width: 60%
            text-align: center
            font-family: verdana

        h2
            margin-left: 45%
            position: absolute
            display: grid
            width: 60%
            text-align: center
            font-family: verdana
            color: #6495ed 
               
        blockquote
            line-height: 1.5
            font-style: italic  
            color: red
